<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Codeforces Analyzer</title>
</head>
<body style=" background-color: Black">
    <div style="text-align: center; font-family: Arial, sans-serif; color: Gray">
        <h2>User Name: <span>{{ user_info.handle }}</span></h2>
        <h2>Rating: <span >{{ user_info.rating }}</span> (<span style="font-style: italic;">{{ user_info.rank }}</span>)</h2>
    </div>
    <h3> {{ arr }}</h3>
    <div>

        <!--{% for contest in past %}
        <p> {{ contest }} </p>
        {% endfor %}-->
        {{ past|safe }}
    </div>
    <div>
        {{ past_c|safe }}
    </div>
</body>
</html>